<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="calcstyle.css">

    <title>Vue.jsの電卓</title>
  </head>
  <body>
    <header>
      <h2>電卓アプリ</h2>
    </header>
    <div id="app">
    <div class="calc">
    <table align="center"> <!--Vueと連携するために必要なid -->
      <tr id="topn">
        <td colspan="3"><input type="text" v-model="output" class="form"></td><!--v-〇〇はディレクティブ。 -->
        <td><button id="C" v-on:click="calc('C')">C</button></td>
      </tr>
      <tr v-for="row in items"><!-- 変数in配列名。配列に当てはまるデータを繰り返し表示する -->
        <td v-for="item in row">
            <button v-on:click="calc(item)">{{ item }}</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="result-view">
    <fieldset>
      <legend align="center">計算結果履歴</legend>
        <ul class="result">
          <li v-for="result in resultlist">
          {{result.calcResult}}
          </li>
        </ul>
    </fieldset>
      </div>
  </div>
  <div class="footer">
    <div class="footer-list">
    <ul>
      <li><a href="#">会社概要</a></li>
      <li><a href="#">採用</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
  </div>
  <div class="footer-list2">
    <p class="creator">作成者</p>
    <p class="name">lanperu</p>

  </div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="calculator.js"></script>
  </body>
</html>
