.form{
display: block;
}
.allform{
  background-color:#FFCC33;

}
legend{
  background-color: orange;
}
button{
  cursor: pointer;/*カーソル操作 */
  display: inline-block;
  padding: 0.5em 1em;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 10px; /*ボタンの角*/
}
button:active {
  transform: translateY(3px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
h1{
  font-family:serif;
}
html{
  background-color: #DDDDDD;
}
.animeA{
  animation: flash 0.8s linear infinite;
  color:red;
  margin:10px;
}
@keyframes flash {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animeB{
  animation: flash 1s linear infinite;
  color:blue;
  margin:10px;
}
